* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Oswald;
}

a {
	color: white;
	text-decoration: none;
}
a:hover{
	cursor: pointer;
}

header {
	width: 85%;
	display: flex;
	position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%)
}

#logo {
	width: 65px;
	height: 90px;
	margin-top: 25px;
}

nav {
	margin-top: 50px;
	margin-left: 60%;
	margin-right: auto;
	font-size: 18pt;
}

.pnav {
	margin: 25px;
}

.wrap {
	height: 736px;
}

#home_wrap {
	background: url(../img/home_bg.png) no-repeat;
	color: white;
	background-size: cover;
}

#home_name {
	font-size: 60pt;
}
.citata {
	font-size: 16pt;
}
.citata_author {
	font-size: 18pt;
}
.author_role {
	font-family: Georgia;
	font-style: italic;
	font-size: 16pt;
}

.nehome {                        /* 3 */
	text-align: center;
	padding-top: 200px;

}
/*dobro pozhalovat div*/

/*.prikol {
	margin-top: 20px;
}*/
.aboutus {
	display: grid;
	grid-template-columns: 674px 674px;
	grid-column-gap: 240px;
	justify-content: center;
}
.welcome {
	font-size: 36pt;
	margin-top: 50px;
}
.aboutus p {
	font-size: 24pt;
}


.babulya {
	margin: 75px;
}
/*luchshee div*/

.head {
	text-align: center;
}
.best {
	color: #0d8800;
	font-size: 36pt;
}

.line1 {
	height: 1px;
	width: 108px;
	background: #0d8800;
	margin-top: 12px;
	
}
.line2 {
	height: 1px;
	width: 108px;
	background: #0d8800;
	margin-top: 12px;
	
}
.tripoloski {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: center;
	grid-column-gap: 12px;
}




		/*menu*/
.best_menu {
	display: grid;
	grid-template-columns: auto;
	justify-content: center;
}
.best1 {
	display: flex;
	margin-top: 50px
}
.best_pic {
	background: url(../img/flag.png) no-repeat;
/*	background-size: cover;
*/	height: 155px;
	width: 155px;
}
.best_head {
	font-size: 36pt;
	color: #0d8800;
}
.best_theme {
	margin-top: -10px;
	font-size: 18pt;
}
.best_price {
	color: #311d1d;
	font-size: 24pt;
	padding-top:20px;
}
.best_disc {
	font-size: 18pt;
}
.best_info {
	margin-left: 30px;

}
.grid_shtuka {
	display: grid;
	grid-template-columns: 500px 50px;
	width: 500px;
}


#discount {
	background: url(../img/tenor_flag.png);
	margin-top: 56px;
	background-size: cover;
}

.scidochka {
	padding-top: 145px;
	text-align: center;
}

.everyday {
	color: #ffffff;
	font-size: 24pt;
}

.discount_text {
	color: #a67e00;
	padding-top: 40px;
	font-size: 48pt;
}

.size_discount {
	font-size: 72pt;
}

.pluses {
	display: grid;
	margin-top: 70px;
	grid-template-columns: auto auto auto auto;
	justify-content: center;
	text-align: center;
	grid-column-gap: 5%;
}

.plus {
	font-size: 18pt;
}

.menu {
	margin-top: 70px;
}

.menu_list {
	margin-top: 13px;
	display: grid;
	grid-template-columns: 248px 248px 248px;
	justify-content: center;
	grid-column-gap: 5%;
}

.dat {
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.5);
	margin-top: 50px;
	height: 300px;
}

.dat_head {
	display: grid;
	grid-template-columns: 160px auto;
	/*grid-column-gap: 15px;*/
}

.dat_header {
	font-size: 18pt;
	color: #0d8800;
	margin-left: 10px;
}

.dat_label {
	margin-left: 10px;
}

.price {
	font-size: 18pt;
	text-align: right;
}


.dat_img {
	background: cover;
}

#comments {
	background: url(../img/comments_bg.png);
	background-size: cover;
	margin-top: 50px;
	display: grid;
	grid-template-columns: 140px 140px 140px;
	grid-column-gap: 175px;
	justify-content: center;
}

.comment {
	color: white;
	text-align: center;
	margin-top: 200px;
}

.avatar {
	border: 2px solid #0d8800;
	border-radius: 50%;
	width: 127px;
	height: 127px;
}

#ava1 {
	background: url(../img/anton.png);
	background-size: cover;
}

#ava2 {
	background: url(../img/max.png);
	background-size: cover;
}

#ava3 {
	background: url(../img/dan.png);
	background-size: cover;
}

.commentator {
	font-size: 18pt;
}

.comment_label {
	font-size: 12pt;
}

.contacts_wraps {
	margin-top: 50px;
	display: grid;
	justify-content: center;
	grid-template-columns: auto auto auto;
	grid-column-gap: 70px;
}

.contact_wrap {
	width: 300px;
	height: 200px;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.5);
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
	justify-content: center;
	text-align: center;
}

#phone_img {
	background: url(../img/call.png) no-repeat;
	width: 130px;
	height: 70px;
}

#adress_img {
	background: url(../img/compass.png) no-repeat;
	width: 130px;
	height: 70px;
}

#hours_img {
	background: url(../img/clock.png) no-repeat;
	width: 130px;
	height: 70px;
}

.quest_head {
	color: #0d8800;
	text-align: center;
	font-size: 48pt;
	margin-top: 190px; 
}

.quests {
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.5);
	max-width: 805px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.inputs {
	display: grid;
	grid-template-columns: 350px 350px;
	grid-column-gap: 40px;
	justify-content: center;
}

input {
	max-width: 360px;
	padding: 10px;
	margin-top: 40px;
	border: 1px solid #0d8800;
	font-family: Oswald;
	font-weight: bold;
	font-size: 12pt;
}

.message {
	padding: 10px;
	margin-top: 40px;
	border: 1px solid #0d8800;
	font-family: Oswald;
	font-weight: bold;
	font-size: 12pt;
	max-width: 720px;
	width: 720px;
	height: 130px;
	resize: none;
}

.button {
	color: #ffffff;
	background: #0d8800;
	border-radius: 5%;
	padding: 5px;
	margin-top: 0;
	margin-bottom: 40px;
	margin-top: 10px;
	margin-left: 45%;
}

#footer {
	margin-top: 100px;
	background: url(../img/academeg.png) no-repeat;
	background-size: cover;
	color: #ffffff;
	text-align: center;
	padding-top: 150px; 
}

#footer_info {
	display: grid;
	grid-template-columns: auto;
	grid-row-gap: 40px;
}

.footer_head {
	font-size: 60pt;
}
.socials {
	margin-top: 40px;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 40px;
	justify-content: center;
}
.instagram {
	background: url(../img/instlogo.png);
	width: 46px;
	height: 46px;
	background-size: cover;
}
.twitter {
	background: url(../img/twitterlogo.png);
	width: 46px;
	height: 46px;
	background-size: cover;
}
.vk {
	background: url(../img/vklogo.png);
	width: 46px;
	height: 46px;
	background-size: cover;
}